{% extends 'consumption/layout.html' %}

{% load render_table from django_tables2 %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock extrahead %}

{% block content %}
<p> <h2> Summary View </h2> </p>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<center>
{{ totchart.as_html }}
{{ avgchart.as_html }}
<br> <br>
{% render_table users %}
</center>
{% endblock content %}
